	<div class="well well-lg">
		<div id="main">

		<div class="row">
			<div class="col-md-6">
				<div class="well well-sm">
					<div>
						<fieldset>
							<legend class="bg-primary text-center"><span class="glyphicon glyphicon-user"></span> Mon compte</legend>
							<a class="btn btn-default btn-block" href="Users/profil" data-ajax="Users/profil">
								<span class="glyphicon glyphicon-search"></span> Voir profil
								<span class="label label-info">//TODO 1.1</span>
							</a>
						</fieldset>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="well well-sm">
					<div>
						<fieldset>
							<legend class="bg-primary text-center"><span class="glyphicon glyphicon-gift"></span> Disques</legend>
							<a class="btn btn-default btn-block" href="MyDisques" data-ajax="MyDisques">
								Accèder à mes disques
								<span class="label label-info">//TODO 1.1</span>
							</a>
							<a class="btn btn-default btn-block" href="Disques/frmAdd" data-ajax="Disques/frmAdd">
								<span class="glyphicon glyphicon-plus"></span> Créer un dique
							</a>
						</fieldset>
					</div>
				</div>
			</div>
		</div>	
						

		<div class="row">
			<div class="col-md-6">
				<div class="well well-sm">
					<div>
						<fieldset>
							<legend class="bg-primary text-center"><span class="glyphicon glyphicon-eur"></span> Mes factures</legend>
						</fieldset>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="panel panel-default col-md-12">
				<div class="panel-body">
					<h2>Mes récentes facture</h2>
					<ul class="comments-list removeable-list">
						<li>
							<div class="comment-head"><a href="#/">DISQUE</a> CREER LE<a href="#/">17/10/08:00:00</a></div>
							<div class="comment-text">
								<p>FACTURE.............</p>
							</div>
							<div class="comment-footer">
								<button class="btn btn-sm btn-success">VOIR</button>
								<button class="btn btn-sm btn-red">SUPPRIMER</button>
							</div>
							<a href="#/" class="remove"></a>
						</li>
					</ul>
				</div>
			</div>
		</div>		
		<div class="clearfix"></div>
<!--
			<fieldset>
				<legend>Interface provisoire de test</legend>
				<a class="btn btn-link" href="" data-ajax="">Accueil</a>
				<a class="btn btn-default" href="Users" data-ajax="Users">Utilisateurs</a>
				<a class="btn btn-default" href="Services" data-ajax="Services">Services</a>
				<a class="btn btn-default" href="Disques" data-ajax="Disques">Disques</a>
				<a class="btn btn-default" href="Tarifs" data-ajax="Tarifs">Tarifs</a>
				<a class="btn btn-default" href="Historiques" data-ajax="Historiques">Historiques</a>
			</fieldset>
			<fieldset>
				<legend>A implémenter (avec connexion Client nécessaire)</legend>
				<a class="btn btn-primary" href="MyDisques" data-ajax="MyDisques">Mes disques <span class="label label-info">//TODO 1.1</span></a>
				<a class="btn btn-info" href="Scan/show/1" data-ajax="Scan/show/1">Disque Datas (id=1) <span class="label label-primary">//TODO 1.2</span></a>
				<a class="btn btn-success" href="Disques/frmAdd" data-ajax="Disques/frmAdd">Créer un disque <span class="label label-primary">//TODO 1.3</span></a>
			</fieldset>
			<fieldset>
				<legend>A implémenter (avec connexion Admin nécessaire)</legend>
				<a class="btn btn-primary" href="Admin" data-ajax="Admin">Administration <span class="label label-info">//TODO 2.1</span></a>
				<a class="btn btn-primary" href="Admin/users" data-ajax="Admin/users">Utilisateurs <span class="label label-info">//TODO 2.2</span></a>
				<a class="btn btn-primary" href="Admin/disques" data-ajax="Admin/disques">Disques <span class="label label-info">//TODO 2.3</span></a>
			</fieldset>
			<fieldset>
				<legend>Connexion</legend>
					<a class="btn btn-default" href="Accueil/asAdmin">Connexion en tant qu'admin</a>
					<a class="btn btn-default" href="Accueil/asUser">Connexion en tant que client</a>
					<a class="btn btn-warning" href="Accueil/disconnect">Déconnexion</a>
			</fieldset>
		</div>
		<div id="response"></div>
	</div>
	-->