<!-- DIV Container -->
<div class="container">
<!-- DIV FORM LOGIN .col-md-4-->
	<div class="col-md-4" data-wow-delay="0.4s">
		<h3>Connexion utilisateur</h3>
			<p>Veuillez vous connecter s'il vous plaît.</p>
			<div class="jumbotron">
				<form action="Accueil/connect" method="POST" id='frm'>
					<div class="form-group">
						<label for="identifiant">E-mail <span>*</span>:</label>
						<input name="mail" type="email" value="{% if email is defined %}{{email}}{% endif %}" placeholder="Email" id="mail" class="form-control mail"> 
					</div>
					<div class="form-group">
						<label for="pwd">Mot de passe <span>*</span>:</label>
						<input name="password" type="password" placeholder="Mot de passe" class="form-control" id="pwd">
					</div>
					
					<input type="submit" value="Connexion" class="btn btn-success" id="connexion">
				</form>
			</div>
	</div>
<!-- //DIV FORM LOGIN .col-md-4-->


<!-- DIV FORM INSCRIPTION .col-md-7-->
	<div class="col-md-7">
		<h3>Inscription utilisateur</h3>
			<p>Pas encore inscrit ? Inscrivez-vous dès maintenant .</p>
			<div class="jumbotron">	
				<form action="accueil/register" method="POST" id='frm2'>
					<div class="well well-sm"><strong><span class="glyphicon glyphicon-asterisk"></span>Champs requis</strong></div>
                
						<div class="form-group">
							<label for="nom">Nom : </label>
							<div class="input-group">
								<input name="nom" type="text" value="{% if nom is defined %}{{nom}}{% endif %}" class="form-control"  id="inputNom" placeholder="Saisir votre Nom..." required>
								<span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
							</div>
						</div>
            
						<div class="form-group">
							<label for="prenom">Prenom : </label>
							<div class="input-group">
								<input name="prenom" type="text" value="{% if prenom is defined %}{{prenom}}{% endif %}" class="form-control"  id="inputPrenom" placeholder="Saisir votre Prenom..." required>
								<span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
							</div>
						</div>
 
 						<div class="form-group">
							<label for="login">Login : </label>
							<div class="input-group">
								<input name="login" type="text" value="{% if login is defined %}{{login}}{% endif %}" class="form-control" id="inputLogin" placeholder="Saisir votre login..." required>
								<span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
							</div>
						</div>
						           
						<div class="form-group">
							<label for="email">E-mail : </label>
							<div class="input-group">
								<input name="mail" type="email" value="{% if email is defined %}{{email}}{% endif %}" class="form-control" id="inputEmail" placeholder="Saisir votre Email..." required>
								<span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
							</div>
						</div>
            
						<div class="form-group">
							<label for="mdp">Mot de passe : </label>
							<div class="input-group">
								<input name="password" type="password" class="form-control"  id="inputPassword" placeholder="Saisir votre Mot de passe..." required>
								<span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
							</div>
						</div>
           
						<div class="form-group">
							<label for="confirmMdp">Confirmer Mot de passe : </label>
							<div class="input-group">
								<input name="confirmPassword" type="password" class="form-control"  id="inputConfirmPassword" placeholder="Confirmer votre Mot de passe..." required>
								<span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
							</div>
						</div>
						<input type="hidden" value="1">
						<input type="submit" class="btn btn-primary" value="Inscription" id="inscription">
				</form>
			</div>	
		</div>
		<!-- //DIV FORM INSCRIPTION .col-md-7-->
</div>
<!-- //Container -->