<div class="chat-panel panel panel-default">
<div class="panel-heading">
    <i class="fa fa-comments fa-fw"></i> Chat
    <div class="btn-group pull-right">
        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-chevron-down"></i>
        </button>
        <ul class="dropdown-menu slidedown">
            <li>
                <a href="#">
                    <i class="fa fa-refresh fa-fw"></i> Refresh
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="MyDisques" data-ajax="MyDisques">
                    <i class="fa fa-sign-out fa-fw"></i> Retour à mes disques
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- /.panel-heading -->
<div class="panel-body">
{% if messages %}
{% for message in messages %}
{% if message.getUtilisateur().getId() != utilisateur.getId()%}
        <div class="pull-left clearfix">
            <div class="chat-body clearfix">
                <div class="header">
                    <strong class="label label-primary">
                    	{{message.getUtilisateur().toString()}}
					</strong>
                </div>
                <div>
                    <small class="text-muted label label-info">
                        <i class="fa fa-clock-o fa-fw"></i>
						{{message.getDate()}}
					</small>
                </div>
                <blockquote>
                <div>
                {{message.getContenu()}}
                </div>
                </blockquote>
            </div>
        </div>
        
{% else %}

<div class="clearfix"></div>
        <div class="pull-right clearfix">
             <div class="chat-body clearfix">
                <div class="header">
	                <div class="header">
	                    <strong class="label label-primary">
	                    	{{message.getUtilisateur().toString()}}
						</strong>
	                </div>
	                <div>
                    <small class="text-muted">
                        <i class="fa fa-clock-o fa-fw"></i>
						{{message.getDate()}}
					</small>
					</div>
                </div>
                <blockquote>
                <p>
                {{message.getContenu()}}
                </p>
                </blockquote>
                <br>
            </div>
        </div>
{% endif %}
{%endfor%} 
{%else%}
<blockquote>
<p>
	Aucun message pour ce disque
</p>
</blockquote>
</div>
{%endif%}     
</div>
<form action="Messages/sentMessage" method="POST">
<!-- /.panel-body -->
<div class="panel-footer">
    <div class="input-group">
        <input id="btn-input" name="contenu" type="text" class="form-control input-sm" placeholder="Votre message...">
        <span class="input-group-btn">
        	<input type="hidden" name="date" value="{{date}}" >
        	<input type="hidden" name="idDisque" value="{{disque.getId()}}">
        	<input type="hidden" name="idUtilisateur" value= "{{utilisateur.getId()}}">
            <input type="submit" value="Envoyer" class="btn btn-warning btn-sm" id="btn-chat">
        </span>
    </div>
</div>
<!-- /.panel-footer -->
</form>
</div>