<div class="panel panel-primary">
	<div class="panel-heading">
    	<h4 class="panel-title text-center" ><span class="glyphicon glyphicon-info-sign"></span> Repondre au message.</h4>
	</div>
	<form action="messages/sentMessage" method="post">
	<div class="panel-body">

		<div class="row">
			<div class="form-group col-lg-12 col-md-12 col-sm-12">
			<div class="input-group">
				<span class="input-group-addon" id="basic-addon1">De</span>
				<input name="expediteur" value="{{message.getReceveur.getId()}}" type="hidden"  />
		        <input class="form-control" value="{{message.Receveur()}}" readonly="readonly" placeholder="Expediteur" type="text" required />
		    </div>
		    </div>
		</div>
		<div class="row">
			<div class="form-group col-lg-12 col-md-12 col-sm-12">
			<div class="input-group">
				<span class="input-group-addon" id="basic-addon1">A&nbsp;&nbsp;</span>
				<input name="receveur" value="{{message.getExpediteur.getId()}}" type="hidden"  />
		        <input class="form-control" value="{{message.getExpediteur()}}" readonly="readonly" placeholder="Expediteur" type="text" required />
		    </div>
		    </div>
		</div>
		<div class="row">
		    <div class="form-group col-lg-12 col-md-12 col-sm-12">
		    	<div class="input-group">
				<span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-pencil"></i>&nbsp;</span>
		        	<input class="form-control" name="objet" value="{{message.getObjet()}}" placeholder="Objet" type="text" readonly="readonly" required />
		    	</div>
		    </div>
		</div>
		<div class="row">
		    <div class="form-group col-lg-12 col-md-12 col-sm-12">
			    <div class="input-group">
					<span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-envelope"></i></span>
					<textarea style="resize:vertical;" class="form-control" placeholder="Message..." rows="6" name="contenu" required></textarea>
				</div>
			</div>
		</div>
	</div> 
	
	<div class="panel-footer">
		<div class="col-md-6">
		<button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-send"></span> Envoyer</button>
			<!-- <input type="submit" value="Envoyer" class="btn btn-success btn-block">  -->
		</div>
		<div class="col-md-6">
			<a class="btn btn-danger btn-block col-md-4 pull-right" href="{{config['siteUrl']}}Users/profil">Retour</a>
		</div>
		<div class="clearfix"></div>
	</div>
	</form>
</div>
