<form method="post" action="Disques/updateDisque">
<div class="alert alert-info">Disque : {{disque.toString()}}</div>
	
	<fieldset>
		<legend>Suppression Service</legend>
			<div class="form-group">
				<table class='table table-striped'>
					<thead>
						<tr>
							<th colspan=''>Supprimer</th>
							<th colspan=''>Nom</th>
							<th colspan=''>Description</th>
							<th colspan=''>Prix</th>
						</tr>
					</thead>
						<tbody>
						{% for disqueService in disqueServices %}
							<tr>
							<td><a class='btn btn-primary btn-xs' href='Disques/suppressionService/{{disque.getId()}}/{{disqueService.getId()}}'><span class='glyphicon glyphicon-remove' aria-hidden='true'></span></a></td>
							<td>{{disqueService.getNom()}}</td>
							<td>{{disqueService.getDescription()}} </td>
							<td>{{disqueService.getPrix()}}€</td>
							
							</tr>
						{% endfor %}
						</tbody>
				</table>
			</div>
	</fieldset>

	<fieldset>
	<legend>Ajout Service</legend>
		<div class="form-group">
			<table class='table table-striped'>
				<thead>
					<tr>
						<th colspan=''>Ajouter</th>
						<th colspan=''>Nom</th>
						<th colspan=''>Description</th>
						<th colspan=''>Prix</th>
					</tr>
				</thead>
					<tbody>
					{% for service in services %}
						<tr>
						<td><a class='btn btn-primary btn-xs' href='Disques/ajoutService/{{disque.getId()}}/{{service.getId()}}'><span class='glyphicon glyphicon-plus' aria-hidden='true'></span></a></td>
						<td>{{service.getNom()}}</td>
						<td>{{service.getDescription()}} </td>
						<td>{{service.getPrix()}}€</td>
						
						</tr>
					{% endfor %}
					</tbody>
			</table>
		</div>
	</fieldset>
	<div class="form-group">
		<a class="btn btn-danger col-md-12" href="{{config['siteUrl']}}MyDisques">Retour</a>
	</div>
</form>
