			<div class="well well-sm">
			<fieldset>
				<legend class="text-capitalize bg-primary"><span class="glyphicon glyphicon-user"></span> {{user}}</legend>
			</fieldset>
			<ul class="list-group">
			{%if user.getDisques()%}
		{% for disque in user.getDisques() %}
				
					<li class="list-group-item">
						<div class="col-md-2"><b>{{disque}}</b></div>
						<div class='col-md-4 text-capitalize'><i>{{tarifs|raw}}</i></div>
						<div class='col-md-4'>
						{%if disque.pourcentage()<=10%}
								<div class="panel-body">
									<div class="progress">
									  <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar"
									  aria-valuenow="{{disque.getOccupation()}}" aria-valuemin="0" aria-valuemax="{{disque.getQuota()}}" style="width:{{disque.pourcentage()}}%" >
									     <b style="color:black">{{disque.pourcentage()}}%</b>
									    
									  </div>
									</div>
								</div>	
								{%elseif disque.pourcentage()>10 and disque.pourcentage()<=50%}
								<div class="panel-body">
									<div class="progress">
									  <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
									  aria-valuenow="{{disque.getOccupation()}}" aria-valuemin="0" aria-valuemax="{{disque.getQuota()}}" style="width:{{disque.pourcentage()}}%" >
									    <b style="color:black">{{disque.pourcentage()}}%</b>
									    
									  </div>
									</div>
								</div>	
								{%elseif disque.pourcentage()>50 and disque.pourcentage()<=80%}
								<div class="panel-body">
									<div class="progress">
									  <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar"
									  aria-valuenow="{{disque.getOccupation()}}" aria-valuemin="0" aria-valuemax="{{disque.getQuota()}}" style="width:{{disque.pourcentage()}}%" >
									    <b style="color:black">{{disque.pourcentage()}}%</b>
									    
									  </div>
									</div>
								</div>	
								{%elseif disque.pourcentage()>80%}
								<div class="panel-body">
									<div class="progress">
									  <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar"
									  aria-valuenow="{{disque.getOccupation()}}" aria-valuemin="0" aria-valuemax="{{disque.getQuota()}}" style="width:{{disque.pourcentage()}}%" >
									     <b style="color:black">{{disque.pourcentage()}}%</b>
									    
									  </div>
									</div>
								</div>
								{%endif%}
						</div>
							<div class="col-md-2">
								<a class='btn btn-primary pull-center btn-block btn-sm' href='Scan/show/{{disque.getId()}}'>
									<span class='glyphicon glyphicon-search' aria-hidden='true'></span> Ouvrir
								</a>
							</div>
						<div class="clearfix"></div>
					</li>
				
		{% endfor %}
		{%else%}
			<li class="list-group-item"><blockquote>Aucun disque pour cet utiliateur</blockquote></li>
		{%endif%}	
		</ul>
		</div>