<div class="well well-lg">
	<div id="main">
		<div role="tabpanel" class="tab-pane fade in active" id="home">
			<fieldset><legend class="bg-primary text-center">Administration</legend></fieldset>
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-primary">
					  <div class="panel-heading"><span class="glyphicon glyphicon-envelope"></span> Messages <span class="badge"><?= count($notifs); ?></span></div>
					  <ul class="list-group">
							<li class="list-group-item">Aucun message</li>
					  </ul>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
			  <!-- List group -->
				<ul class="list-group">
					<li class="list-group-item">
						<div class="col-md-6"><strong><span class="glyphicon glyphicon-user"></span> Utilisateur <span class="label label-info">{{newUser}} Nouveaux</span></strong></div>
							<div class="col-md-4">
								<a href="Users" data-ajax="Users">
									<button class="btn btn-primary" type="button">
									  <span class="glyphicon glyphicon-search"></span> Ouvrir <span class="badge"> {{nbUser}}</span>
									</button>
								</a>
							
								<a href="Users/frm" data-ajax="Users/frm">
									<button class="btn btn-default" type="button">
										<span class="glyphicon glyphicon-plus-sign"></span> Nouveau...
									</button>
								</a>
							</div>
						<div class="clearfix"></div>
					</li>
					
					<li class="list-group-item">
						<div class="col-md-6"><strong><span class="glyphicon glyphicon-folder-close"></span> Disques <span class="label label-info">{{newDisk}} Nouveaux</span></strong></div>
							<div class="col-md-4">
								<a href="Admin/disques" data-ajax="Admin/disques">
									<button class="btn btn-primary" type="button">
									  <span class="glyphicon glyphicon-search"></span> Ouvrir <span class="badge"> {{nbDisk}}</span>
									</button>
								</a>
							
								<a href="Disques/frmAdd" data-ajax="Disques/frmAdd">
									<button class="btn btn-default" type="button">
										<span class="glyphicon glyphicon-plus-sign"></span> Nouveau...
									</button>
								</a>
							</div>
						<div class="clearfix"></div>
					</li>
					<li class="list-group-item">
						<div class="col-md-6"><strong><span class="glyphicon glyphicon-eur"></span> Tarifs</strong></div>
							<div class="col-md-4">
							 	<a href="Tarifs" data-ajax="Tarifs">
									<button class="btn btn-primary" type="button">
									  <span class="glyphicon glyphicon-search"></span> Ouvrir <span class="badge"> {{nbTarif}}</span>
									</button>
								</a>
							
								<a href="Tarifs/frm" data-ajax="Tarifs/frm">
									<button class="btn btn-default" type="button">
										<span class="glyphicon glyphicon-plus-sign"></span> Nouveau...
									</button>
								</a>
							</div>
						<div class="clearfix"></div>
					</li>
					<li class="list-group-item">
						<div class="col-md-6"><strong><span class="glyphicon glyphicon-gift"></span> Services</strong></div>
							<div class="col-md-4">
							 	<a href="Services" data-ajax="Services">
									<button class="btn btn-primary" type="button">
									  <span class="glyphicon glyphicon-search"></span> Ouvrir <span class="badge"> {{nbService}}</span>
									</button>
								</a>
						
								<a href="Services/frm" data-ajax="Services/frm">
									<button class="btn btn-default" type="button">
										<span class="glyphicon glyphicon-plus-sign"></span> Nouveau...
									</button>
								</a>
							</div>
						<div class="clearfix"></div>
					</li>
				</ul>
			</div>
		</div>

<!-- Gestion des differentes fonctionnalités -->
	<!-- Gestion utilisateur Disques-->
		<div class="row">
			<div class="col-md-6">
				<div class="well well-sm">
					<div>
						<fieldset>
							<legend class="bg-primary text-center"><i class="fa fa-users fa-lg" aria-hidden="true"></i> Gestion utilisateurs</legend>
							<a class="btn btn-default btn-lg btn-block" href="Users/profil" data-ajax="Users/profil">
								<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
								Mon compte
							</a>
							<a class="btn btn-default btn-lg btn-block" href="Admin/users" data-ajax="Admin/users">
								<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
								Ajouter un utilisateur
							</a>
							<a class="btn btn-default btn-lg btn-block" href="Admin/users" data-ajax="Admin/users">
								<span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
								Liste des utilisateurs
							</a>
						</fieldset>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="well well-sm">
					<div>
						<fieldset>
							<legend class="bg-primary text-center"><i class="glyphicon glyphicon-folder-close" aria-hidden="true"></i> Gestion Disques</legend>
							<a class="btn btn-default btn-lg btn-block" href="Disques/frmAdd" data-ajax="Disques/frmAdd">
								<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
								Créer un disques
							</a>					
							<a class="btn btn-default btn-lg btn-block" href="MyDisques" data-ajax="MyDisques">
								<span class="glyphicon glyphicon-hdd" aria-hidden="true"></span>
								Mes disques
							</a>
							<a class="btn btn-default btn-lg btn-block" href="Admin/disques" data-ajax="Admin/disques">
								<span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
								Liste des disques
							</a>
						</fieldset>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						Default Panel
					</div>
					<div class="panel-body">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
					</div>
					<div class="panel-footer">
			 		Panel Footer
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						Default Panel
					</div>
					<div class="panel-body">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
					</div>
					<div class="panel-footer">
			 		Panel Footer
					</div>
				</div>
			</div>
		</div>
	<!-- /Gestion utilisateurs Disques-->
	
	
	<!-- Gestion Services -->
		<div class="row">
			<div class="col-md-6">
				<div class="well well-sm">
					<div>
						<fieldset>
							<legend class="bg-primary text-center"><span class="glyphicon glyphicon-gift"></span> Gestion des Services</legend>
							<a class="btn btn-default btn-lg btn-block" href="Services/frm" data-ajax="Services/frm">
								<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
								Ajouter service(s)
							</a>
							<a class="btn btn-default btn-lg btn-block" href="Services" data-ajax="Services">
								<span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
								Liste des services
							</a>
						</fieldset>
					</div>
				</div>
			</div>
		<!-- /Gestion Services -->
		
		<!-- Gestion services -->			
			<div class="col-md-6">
				<div class="panel panel-default">
		
					<div class="panel-body">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
					</div>
					<div class="panel-footer">
			 		Panel Footer
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						Default Panel
					</div>
					<div class="panel-body">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
					</div>
					<div class="panel-footer">
			 		Panel Footer
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="panel panel-default">
		
					<div class="panel-body">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
					</div>
					<div class="panel-footer">
			 		Panel Footer
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="well well-sm">
					<div>
						<fieldset>
							<legend class="bg-primary text-center"><span class="glyphicon glyphicon-eur"></span> Gestion des Tarifs</legend>
							<a class="btn btn-default btn-lg btn-block" href="Tarifs/frm" data-ajax="Tarifs/frm">
								<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
								Ajouter tarif(s)
							</a>
							<a class="btn btn-default btn-lg btn-block" href="Tarifs/" data-ajax="Tarifs">
								<span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
								Liste des tarifs
							</a>
						</fieldset>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						Default Panel
					</div>
					<div class="panel-body">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
					</div>
					<div class="panel-footer">
			 		Panel Footer
					</div>
				</div>
			</div>
		</div>		
	<!-- /Gestion Tarifs -->

		
		
		<div class="panel panel-default col-md-6">
			<div class="panel-body">
				<h2>Recent comments from customers</h2>
				<ul class="comments-list removeable-list">
					<li>
						<div class="comment-head"><a href="#/">Jassica</a> commented on <a href="#/">4 keys to make your business unique</a></div>
						<div class="comment-text">
							<p>Thank you for posting such a wonderful content. The writing was outstanding. Subscribed to latest from you as well :)</p>
						</div>
						<div class="comment-footer">
							<button class="btn btn-sm btn-success">APPROVE</button>
							<button class="btn btn-sm btn-red">DELETE</button>
						</div>
						<a href="#/" class="remove"><img src="images/icon-close.png" alt="Remove" title="Remove"></a>
					</li>
					<li>
						<div class="comment-head"><a href="#/">Jassica</a> commented on <a href="#/">4 keys to make your business unique</a></div>
						<div class="comment-text">
							<p>Thank you for posting such a wonderful content. The writing was outstanding. Subscribed to latest from you as well :)</p>
						</div>
						<div class="comment-footer">
							<button class="btn btn-sm btn-success">APPROVE</button>
							<button class="btn btn-sm btn-red">DELETE</button>
						</div>
						<a href="#/" class="remove"><img src="images/icon-close.png" alt="Remove" title="Remove"></a>
					</li>
					<li>
						<div class="comment-head"><a href="#/">Jassica</a> commented on <a href="#/">4 keys to make your business unique</a></div>
						<div class="comment-text">
							<p>Thank you for posting such a wonderful content. The writing was outstanding. Subscribed to latest from you as well :)</p>
						</div>
						<div class="comment-footer">
							<button class="btn btn-sm btn-success">APPROVE</button>
							<button class="btn btn-sm btn-red">DELETE</button>
						</div>
						<a href="#/" class="remove"><img src="images/icon-close.png" alt="Remove" title="Remove"></a>
					</li>
				</ul>
			</div>
		</div>

					
					
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-body">
					<h2>Latest Orders</h2>
					<ul class="feed-item-list removeable-list">
						<li>
							<div class="feed-element">
								<div class="feed-title">$340 on January 14, 2016</div>
								<div class="feed-content">
									<p>2 T-Shirts, 1 Jeans</p>
								</div>
								<div class="feed-meta">By Jessica Williamson</div>
							</div>
							<div class="feed-footer">
								<button class="btn btn-sm btn-primary">APPROVE</button>
								<button class="btn btn-sm btn-red">DELETE</button>
							</div>
							<a class="remove" href="#/"><img title="Remove" alt="Remove" src="images/icon-close.png"></a>
						</li>
						<li>
							<div class="feed-element">
								<div class="feed-title">$340 on January 14, 2016</div>
								<div class="feed-content">
									<p>2 T-Shirts, 1 Jeans</p>
								</div>
								<div class="feed-meta">By Jessica Williamson</div>
							</div>
							<div class="feed-footer">
								<button class="btn btn-sm btn-primary">APPROVE</button>
								<button class="btn btn-sm btn-red">DELETE</button>
							</div>
							<a class="remove" href="#/"><img title="Remove" alt="Remove" src="images/icon-close.png"></a>
						</li>
						<li>
							<div class="feed-element">
								<div class="feed-title">$340 on January 14, 2016</div>
								<div class="feed-content">
									<p>2 T-Shirts, 1 Jeans</p>
								</div>
								<div class="feed-meta">By Jessica Williamson</div>
							</div>
							<div class="feed-footer">
								<button class="btn btn-sm btn-primary">APPROVE</button>
								<button class="btn btn-sm btn-red">DELETE</button>
							</div>
							<a class="remove" href="#/"><img title="Remove" alt="Remove" src="images/icon-close.png"></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		

		<fieldset>
			<legend>Interface provisoire de test</legend>
			<a class="btn btn-link" href="" data-ajax="">Accueil</a>
			<a class="btn btn-default" href="Users" data-ajax="Users">Utilisateurs</a>
			<a class="btn btn-default" href="Services" data-ajax="Services">Services</a>
			<a class="btn btn-default" href="Disques" data-ajax="Disques">Disques</a>
			<a class="btn btn-default" href="Tarifs" data-ajax="Tarifs">Tarifs</a>
			<a class="btn btn-default" href="Historiques" data-ajax="Historiques">Historiques</a>
		</fieldset>
		<fieldset>
			<legend>A implémenter (avec connexion Client nécessaire)</legend>
			<a class="btn btn-primary" href="MyDisques" data-ajax="MyDisques">Mes disques <span class="label label-info">//TODO 1.1</span></a>
			<a class="btn btn-info" href="Scan/show/1" data-ajax="Scan/show/1">Disque Datas (id=1) <span class="label label-primary">//TODO 1.2</span></a>
			<a class="btn btn-success" href="Disques/frmAdd" data-ajax="Disques/frmAdd">Créer un disque <span class="label label-primary">//TODO 1.3</span></a>
		</fieldset>
		<fieldset>
			<legend>A implémenter (avec connexion Admin nécessaire)</legend>
			<a class="btn btn-primary" href="Admin" data-ajax="Admin">Administration <span class="label label-info">//TODO 2.1</span></a>
			<a class="btn btn-primary" href="Admin/users" data-ajax="Admin/users">Utilisateurs <span class="label label-info">//TODO 2.2</span></a>
			<a class="btn btn-primary" href="Admin/disques" data-ajax="Admin/disques">Disques <span class="label label-info">//TODO 2.3</span></a>
		</fieldset>
		<fieldset>
			<legend>Connexion</legend>
				<a class="btn btn-default" href="Accueil/asAdmin">Connexion en tant qu'admin</a>
				<a class="btn btn-default" href="Accueil/asUser">Connexion en tant que client</a>
				<a class="btn btn-warning" href="Accueil/disconnect">Déconnexion</a>
		</fieldset>
	</div>
	<div id="response"></div>
</div>