	<div class="filemanager">
		<div class="breadcrumbs"></div>
		<ul class="nav nav-tabs" id="tabsMenu">
		  <li role="presentation" class="active"><a href="#Home" aria-controls="Home" role="tab" data-toggle="tab">Home</a></li>
		  <li role="presentation"><a href="#Listing" aria-controls="Listing" role="tab" data-toggle="tab">Listing</a></li>
		  <li role="presentation"><a href="#Upload" aria-controls="Upload" role="tab" data-toggle="tab">Upload</a></li>
		</ul>
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="Home">
				<!--
				//TODO 4.3 implémenter à partir de DisqueController/indexAction
				-->
			<div class="panel panel-default">
				<div class="panel-heading">Caractéristiques du disque</div>
				<div class="panel-body">
				   <strong>Nom : </strong>
				   {{disque.getNom()}}
				   <a href="#" data-toggle="modal" data-target=".rennomer" class="btn btn-default btn-xs">
				   <span class="glyphicon glyphicon-edit"></span> Modifier ... </a>
				</div>
				 <!-- List group -->
				  <ul class="list-group">
				    <li class="list-group-item">
				     	<strong>Proprietaire :</strong> <span class="text-capitalize">{{utilisateur.getLogin()}} ({{utilisateur.getPrenom()}} {{utilisateur.getNom()}})</span>
				     </li>
				    <li class="list-group-item">
					    <strong>Occupation</strong> 
					    	<a title="Actualiser" href="scan/show/{{disque.getId()}}" data-ajax="scan/show/{{disque.getId()}}"><i class="fa fa-refresh" aria-hidden="true"></i></a><br>
					    <label class="label label-default ">{{disque.Quota()}} ({{disque.Pourcentage()}}%)</label><br> <br>
					    {%if disque.Pourcentage()>=80 and disque.Pourcentage()<=100 %}
					    	<div class="btn btn-danger btn-xs">Proche de Saturation</div>
					    {%elseif disque.Pourcentage()>100 %}
					    <div class="btn btn-danger btn-xs">Vous êtes en surconsommation</div>
					    {%endif%}
				    </li>
				    <li class="list-group-item">
				    	<div>
				    		<strong>Tarification</strong>
				    	</div> <br>
				    	{{disque.getTarif()|raw}}<br>
				    	<a href="disques/Tarification/{{disque.getId()}}" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span> Modifier la tarification ... </a>
				    </li>
				    <li class="list-group-item">
				    	<div>
				    		<strong>Services</strong>
				    		<a href="disques/frmUpdateService/{{disque.getId()}}" title="Ajouter services" class="btn btn-default btn-xs">
				    		<span class="glyphicon glyphicon-plus"></span></a>
				    	</div>
				    	<br>
				    {%for service in services %}
				    <div class="btn btn-info btn-xs">{{service.getNom()}}</div>
				    {%endfor%}
				    </li>
				  </ul>
				<a class="btn btn-primary btn-sm col-md-12" href="MyDisques"> <span class="glyphicon glyphicon-folder-open"></span> Fermer et retourner à <strong>Mes disques</strong></a>
				<!-- Rennomer disque-->
				<div class="modal fade rennomer" tabindex="-1" role="dialog">
				  <div class="modal-dialog modal-lg" role="document">
				    <div class="modal-content alert alert-warning text-center">
				    <form method="post" action="Disques/updateDisque">
						<div class="panel panel-primary">
							<div class="panel-heading">Renommer disque</div>
						  <div class="panel-body">
							<div class="input-group">
							<span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-hdd"></i></span>
								<input type="text" name="nom" value="{{disque.getNom()}}" class="form-control" placeholder="Entrez le nom de votre disque..." aria-describedby="basic-addon1">
							</div>
						  </div>
							<input type="hidden" name="id" value= "{{disque.getId()}}">
							<input type="hidden" name="oldName" value= "{{disque.getNom()}}">
							<input type="hidden" name="idUtilisateur" value= "{{utilisateur.getId()}}">
							<input type="submit" value="Valider" class="btn btn-info col-md-12">
							<div class="clearfix"></div>
						</div>
					</form>
				    </div>
				  </div>
				</div>
			</div>
				
			
			</div>
			<div id="ajaxResponse"></div>
			<div role="tabpanel" class="tab-pane" id="Listing">
				<div class="btn-toolbar">
					<div class="btn-group" role="group">
						<a class="btn btn-primary" id="btUpload">
							<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
							Ajouter des fichiers
						</a>
						<a class="btn btn-primary" id="btFrmCreateFolder">
							<span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span>
							Créer un dossier
						</a>
					</div>
					<div class="btn-group">
						<label>
							<input type="checkbox" id="ckSelectAll"/>&nbsp;(dé)Sélectionner tout
						</label>
					</div>
					<div class="btn-group">
						<input type="search" class="form-control" placeholder="Find a file.." />
					</div>
					<div class="btn-group" role="group">
						<a class="btn btn-warning" id="btDelete" style="display:none">
							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
							Supprimer le(s) fichier(s)</a>
					</div>
				</div>
				<div class="panel panel-default" id="panelCreateFolder" style="display:none">
					<div class="panel-body">
						<form class="form-inline" name="frmCreateFolder" id="frmCreateFolder">
							<div class="form-group">
								<input type="hidden" name="activeFolder" id="parentFolder">
								<label>Nom : <input type="text" class="form-control" placeholder="nom du dossier..." name="folderName" id="folderName"/></label>
								<a class="btn btn-primary" id="btCreateFolder">
									<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
									Créer le dossier
								</a>
							</div>
						</form>
					</div>
				</div>
				<div class="panel panel-default" id="panelConfirmDelete" style="display:none">
					<div class="panel-body">
						<form class="form-inline" name="frmDelete" id="frmDelete">
							<div class="form-group">
								<input type="hidden" name="activeFolder" id="parentFolder">
								<label>Supprimer le(s) éléments ?</label>
								<a class="btn btn-danger" id="btConfirmDelete">
									<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
									Supprimer
								</a>
							</div>
						</form>
					</div>
				</div>
				<ul class="data"></ul>

				<div class="nothingfound">
					<div class="nofiles"></div>
					<span>Aucun élément.</span>
				</div>
			</div>
			{% if disque.pourcentage()<=100 %}
			<div role="tabpanel" class="tab-pane" id="Upload">
				<form id="upload" method="post" action="scan/upload" enctype="multipart/form-data">
					<div id="drop">
						Déposez vos fichiers
						<a class="btn btn-primary">Parcourir...</a>
						<input type="file" name="upl" multiple />
					</div>
					<input type="hidden" name="activeFolder" id="activeFolder">
					<ul>
						<!-- The file uploads will be shown here -->
					</ul>
				</form>
			</div>
			{%else%}
			<div role="tabpanel" class="tab-pane bg-warning" id="Upload">
			<blockquote>
			<p> Quota depassé veuillez changer de tarif ou vider votre disque. </p>
			</blockquote>
			</div>
			{%endif%}
		</div>
	</div>
	<input type="hidden" name="rootFolder" id="rootFolder">
	
<script src="assets/js/jquery-file-upload/jquery.knob.js"></script>
<!-- jQuery File Upload Dependencies -->
<script src="assets/js/jquery-file-upload/jquery.ui.widget.js"></script>
<script src="assets/js/jquery-file-upload/jquery.iframe-transport.js"></script>
<script src="assets/js/jquery-file-upload/jquery.fileupload.js"></script>

<script src="assets/js/jquery-file-upload/script.js"></script>