<div class="jumbotron">
	<div class="panel panel-default col-md-3 col-sm-12 col-xs-12">
		<div class="row panel-body">
			<div class="text-capitalize">
				<span class="glyphicon glyphicon-user"></span>
                         	<strong>{{user.toString()|raw}}</strong>
			</div>
			<br>
			<div>
                 <span class="glyphicon glyphicon-calendar"></span> {{user.getCreatedAt()|date("d/m/Y H:i:s")}}
			</div>
			<br>
			<div class="profile-userbuttons">
				<button type="button" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-cog"></i> Parametres</button>
				<button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#myModal"><i class="fa fa-envelope" aria-hidden="true"></i> Contacter</button>
			</div>
			<hr>
			<div >
				<ul class="nav">
					<li class="active">
						<a href="">
						<i class="glyphicon glyphicon-home"></i>
						Page d'accueil </a>
					</li>
					<li>
						<a href="Admin/users">
						<i class="fa fa-users"></i>
						Les utilisateurs </a>
					</li>
					<li>
						<a href="Admin/disques" target="_blank">
						<i class="glyphicon glyphicon-folder-close"></i>
						Les disques </a>
					</li>
					<li>
						<a href="Services">
						<i class="glyphicon glyphicon-gift"></i>
						Les services </a>
					</li>
					<li>
						<a href="Tarifs">
						<i class="glyphicon glyphicon-eur"></i>
						Tarifs </a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="panel panel-default col-md-9 col-sm-12 col-xs-12">
		<h3>Disque(s) de {{user.getNom()}} {{user.getPrenom()}}</h3>
	<hr>
		<div class="panel-body">
		{%if disques%}
		{% for disque in disques %}
		<ul class="list-group">
			<li class="list-group-item">
				<span class="glyphicon glyphicon-calendar"></span>
					Date de création : 
				<span class="pull-right">{{disque.getCreatedAt()|date("d/m/Y H:i:s")}}</span>
			</li>
			<li class="list-group-item">
				<div class="col-md-4"><span class="glyphicon glyphicon-hdd" aria-hidden="true"></span> <strong>{{disque}}</strong></div>
				<div class='col-md-4 text-capitalize'><i>{{disque.getTarif()|raw}}</i></div>
				<div class='col-md-4'>
					{%if disque.pourcentage()<=10%}
						<div class="panel-body">
							<div class="progress">
							  <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar"
							  aria-valuenow="{{disque.getOccupation()}}" aria-valuemin="0" aria-valuemax="{{disque.getQuota()}}" style="width:{{disque.pourcentage()}}%" >
							     <b style="color:black">{{disque.pourcentage()}}%</b>
							    
							  </div>
							</div>
						</div>	
						{%elseif disque.pourcentage()>10 and disque.pourcentage()<=50%}
						<div class="panel-body">
							<div class="progress">
							  <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
							  aria-valuenow="{{disque.getOccupation()}}" aria-valuemin="0" aria-valuemax="{{disque.getQuota()}}" style="width:{{disque.pourcentage()}}%" >
							    <b style="color:black">{{disque.pourcentage()}}%</b>
							    
							  </div>
							</div>
						</div>	
						{%elseif disque.pourcentage()>50 and disque.pourcentage()<=80%}
						<div class="panel-body">
							<div class="progress">
							  <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar"
							  aria-valuenow="{{disque.getOccupation()}}" aria-valuemin="0" aria-valuemax="{{disque.getQuota()}}" style="width:{{disque.pourcentage()}}%" >
							    <b style="color:black">{{disque.pourcentage()}}%</b>
							    
							  </div>
							</div>
						</div>	
						{%elseif disque.pourcentage()>80%}
						<div class="panel-body">
							<div class="progress">
							  <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar"
							  aria-valuenow="{{disque.getOccupation()}}" aria-valuemin="0" aria-valuemax="{{disque.getQuota()}}" style="width:{{disque.pourcentage()}}%" >
							     <b style="color:black">{{disque.pourcentage()}}%</b>
							    
							  </div>
							</div>
						</div>
						{%endif%}
				</div>
				<div class="col-md-8"><span class="glyphicon glyphicon-gift"></span> Services : <strong class="text-success">{{disque.getServices()|join(', ') }}</strong></div>
				<div class="col-md-4">
					<a href="#" class="btn btn-warning btn-sm pull-left">Commentaire</a>
					<a href="Scan/show/{{disque.getId()}}" class="btn btn-primary btn-sm pull-right"><span class='glyphicon glyphicon-search' aria-hidden='true'></span> Visualiser</a></div>
				<div class="clearfix"></div>
			</li>
		</ul>        		
		{% endfor %}
		{% else %}
		<div class="panel panel-default ">
		<div class="panel-body bg-info">
		<blockquote >
			<p class="text-default">
				<strong>
				Aucun disque pour cet utilisateur
				</strong>
			</p>
		</blockquote>
		</div>
		</div>
		{% endif %}               
		
		</div>
	</div>
<div class="clearfix"></div>
</div> 

<!-- Modal contact-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    <form action="admin/sentMessage" method="post">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
<div class="panel panel-primary">
	
	<div class="panel-body">
		<div class="row">
			<div class="form-group col-lg-12 col-md-12 col-sm-12">
			<div class="input-group">
				<span class="input-group-addon" id="basic-addon1">A&nbsp;&nbsp;</span>
				<input name="receveur" value="{{user.getId()}}" type="hidden"  />
		        <input class="form-control" value="{{user.toString()}}" readonly="readonly" placeholder="Expediteur" type="text" required />
		    </div>
		    </div>
		</div>
		<div class="row">
		    <div class="form-group col-lg-12 col-md-12 col-sm-12">
		    	<div class="input-group">
				<span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-pencil"></i>&nbsp;</span>
		        	<input class="form-control" name="objet" placeholder="Objet" type="text" required />
		    	</div>
		    </div>
		</div>
		<div class="row">
		    <div class="form-group col-lg-12 col-md-12 col-sm-12">
			    <div class="input-group">
					<span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-envelope"></i></span>
					<textarea style="resize:vertical;" class="form-control" placeholder="Message..." rows="6" name="contenu" required></textarea>
				</div>
			</div>
		</div>
	</div> 
	

</div>
      </div>
      <div class="modal-footer">
			<div class="col-md-6">
				<a class="btn btn-danger btn-block col-md-4 pull-right" data-dismiss="modal">Retour</a>
			</div>
			
			<div class="col-md-6">
			<button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-send"></span> Envoyer</button>
				<!-- <input type="submit" value="Envoyer" class="btn btn-success btn-block">  -->
			</div>
	
			<div class="clearfix"></div>
      </div>
      	</form>
    </div>
  </div>
</div>