<form method="post" action="Services/addService" id="frm">
<fieldset>
<legend>Ajouter un service</legend>
<div class="alert alert-info">Service : {{service.toString()}}</div>
<div class="form-group col-md-6">
	<label for="nom">Nom :</label>
		<input type="text" name="nom"  placeholder="Entrez le nom du service..." class="form-control" id="nom">
	<label for="Prix">Prix :</label>
		<input type="text" name="prix" placeholder="Entrez le prix du service ..." class="form-control" id="prix">
</div>
<div class="form-group col-md-6">	
 <label for="description">Description :</label>
      <textarea name="description" placeholder="Entrez la description du service ..." class="form-control" rows="4" id="description"></textarea>
</div>
<div class="form-group col-md-12">
	<div class="col-md-6">
		<input type="submit" value="Valider" class="btn btn-success btn-block" id="btnSubmit">
	</div>
	<div class="col-md-6">
		<a class="btn btn-danger btn-block" href="{{config['siteUrl']}}services">Annuler</a>
	</div>	
</div>
</fieldset>
</form>
