<h3>{{model}}</h3>
<a class='btn btn-primary' href='{{config["siteUrl"]~baseHref~"/frm"}}'><span class="glyphicon glyphicon-plus"></span> Ajouter...</a>
<hr>
<ul class="list-group">
		{% for object in objects %}

  <li class="list-group-item">
  <div class="col-md-8">{{object.toString()|raw}}</div>
  <div class="col-md-2"><a class='btn btn-primary btn-xs' href='{{baseHref~"/frmUpdate/"~object.getId()}}'><span class='glyphicon glyphicon-edit' aria-hidden='true'></span></a></div>
  <div class="col-md-2"><a class='btn btn-warning btn-xs' href='#' data-toggle="modal" data-target=".delete{{object.getId()}}"><span class='glyphicon glyphicon-remove' aria-hidden='true'></span></a></div>
  <div class="clearfix"></div>
  </li>

			
			<!-- Confirmer suppression-->
			<div class="modal fade delete{{object.getId()}}" tabindex="-1" role="dialog">
			  <div class="modal-dialog modal-lg" role="document">
			    <div class="modal-content alert alert-warning text-center">
						<p>Confirmez-vous la suppression de l'objet <b>{{ object|raw}}</b> ?&nbsp;
							<button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
							<a href='{{baseHref~"/delete/"~object.getId()}}' class="btn btn-danger">Supprimer</a>
						</p>
			    </div>
			  </div>
			</div>
		{% endfor %}
</ul>
